.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;

    padding: var(--lateral-padding)
}

.Header .logo>img {
    border-radius: 50% 50% 0;
    cursor: pointer;

}

.Header a,
.Header title {
    font-size: var(--big-font);
}

.Header a:hover {
    opacity: 0.8;
}

.Header .shown-links {
    display: flex;
    gap: calc(var(--regular-gap) + 5px)
}