.Banner {
    display: flex;
    position: relative;
    background-color: red;
    height: 50vh;
}

.Banner .carousel {
    display: flex;
    position: absolute;
    height: 100%;
    background-color: pink;
    transition: 0.9s;
}

.Banner .carousel .image {
    width: 100vw;
    height: 50vh;
    position: relative;
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.Banner .buttons {
    display: flex;
    justify-content: space-between;
    height: calc(50vh*0.65);
    width: 100%;
}

.Banner .buttons button {
    height: 100%;
    width: 3vw;
    opacity: 0.3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Banner .buttons button:hover {
    opacity: 0.8;
}