.Highlight {
    position: relative;
    height: fit-content;
    height: calc(var(--highlight-element-high)/2.75);
}

.Highlight .itens {
    position: absolute;
    top: calc(var(--banner-height)* -0.25);
    z-index: 1;

    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 0 var(--lateral-padding);
}

.Highlight .itens img {
    border-radius: var(--regular-border-radious);
    width: 30vw !important;
    height: var(--highlight-element-high) !important;
    opacity: 0.85 !important;
}

.Highlight .itens>img:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
}