.ProductPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.ProductPage .image-div {
  width: 80vw;
}

.ProductPage .details-div {
  padding: 20px;
  text-align: center;
}

.ProductPage .name {
  font-size: calc(var(--big-font)*1.3);
}

.ProductPage .old-price {
  text-decoration: line-through;
  font-size: calc(var(--medium-font) - 20%);
}

.ProductPage .price {
  font-size: var(--medium-font);
}