.Categories {
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.Categories .carousel {
    height: 100%;
    display: flex;
    gap: 5px;
    transition: 1s;
}

.Categories .buttons {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Categories .buttons .bt {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 5vw;
    border: none;
    z-index: 2;
}

.Categories .buttons .bt img {
    width: fit-content;
    height: fit-content;
    transform: rotate(270deg);

}

.Categories .buttons .bt:last-of-type img {
    transform: rotate(90deg);
}

.Categories .img-div {
    display: flex;
    position: relative;
}

.Categories .img-div:hover {
    cursor: pointer;
    transform: scale(1.033);
}

.Categories .img-div .title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: xx-large;
    text-align: center;

    background-color: rgba(240, 248, 255, 0.274);

}

.Categories .img-div img {
    width: calc(33vw - ((25px/3)));
    height: calc(33vw - ((25px/3)));
}